@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  margin: 0;
  background-color: black;
  font-family: Oswald, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#role-btn-container {
  padding: 50px;
}

#role-btn-container button {
  padding: 5px 10px;
  margin: 0px 10px;
  width: 200px;
  border-radius: 10px;
}